* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #cc3deb, #5b68e4);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 20px;
  color: #fff;
  padding: 40px;
  width: 1100px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

/* === LEFT PANEL === */
.left-panel {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 9%;
  left: 2%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  position: absolute;
  width: 120px;   /* aumenta o tamanho do logo */
  height: auto;
}

/* grid de imagens */
.image-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 40px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.image-grid img {
  width: 120px;
}

/* === RIGHT PANEL === */

.right-panel {
  flex: 1;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}


.form-row {
  display: flex;
  gap: 20px;
}

.form-row input {
  flex: 1;
}

input,
button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
}

input {
  background-color: #2e2e2e;
  color: #fff;
}

button.create-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #cc3deb, #5b68e4);
  z-index: 1;
  color: #fff;
}

button.create-btn::after {
  content: 'Create Account'; 
  position: absolute;
  inset: 0;
  margin: 2px;
  border-radius: 6px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.create-btn:hover {
  box-shadow: -10px 0 20px #cb3deb6e, 10px 0 20px #5b69e45c;
  z-index: 2;
}

.alt-login-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ccc;
  margin: 10px 0 10px;
  font-size: 14px;
}

.alt-login-text::before,
.alt-login-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #444;
  margin: 0 10px;
}


.alt-login {
  display: flex;
  gap: 10px;
}

.alt-login button {
  flex: 1;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
  padding-right: 20px;
}

.toggle-password-btn {
  position: absolute;
  right: 0px;
  text-align: right;
  width: 10%;
  background: none;
  border: none;
  color: #666;
  font-weight: bold;
  cursor: pointer;
}

.signin-link {
  margin-top: 10px;
  text-align: center;
}

.signin-link a {
  color: #9f7aea;
  text-decoration: none;
}
